* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 15px;
    background-color: #edf2f8;
}

.container {
    max-width: 1200px;
    margin: 8.5rem auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:nth-of-type(1){
    grid-column: 1 / span 2;
}

.card:nth-of-type(5){
    grid-column: 4;
    grid-row: 1 / span 2;
}

.card:nth-of-type(4){
    grid-column: 2 / span 2;
    grid-row: 2;
}

.card-header {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.card-header h3 {
    font-size: 1rem
}

.card-header p {
    opacity: 50%;
}

.card-image {
    width: 3rem;
    height: 3rem;
    border: 3px solid #ff0000;
    border-radius: 50%;
    margin-right: 1rem;
}

.card-lead {
    font-size: 1.5rem;
    margin-bottom: 1.1rem;
}

.card-desc {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: 70%;
}

.bg-purple {
    background-color: #7341c8;
    color: #ffffff;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 1rem right 9rem;
}

.bg-gray-blue {
    background-color: #48556a;
    color: #ffffff;
}

.bg-black-blue {
    background-color: #19212e;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
    }

    .card:nth-of-type(1){
        grid-column: 1 ;
    }
    
    .card:nth-of-type(5){
        grid-column: 1;
        grid-row: 5;
    }
    
    .card:nth-of-type(4){
        grid-column: 1;
        grid-row: 4;
    }
}