* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /* grid-template-columns: 150px 200px 150px 200px; */
    /* grid-template-columns: 150px auto; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: auto 30% 50%; */
    /* grid-template-columns: repeat(3, auto);  */
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-template-columns: repeat(5, 1fr);

    /* grid-template-rows: 200px 300px; */
    /* grid-template-rows: 1fr 3fr ; */
    /* grid-auto-rows: 2fr; */


    background-color: #9acd32;
    padding: 1rem;
    gap: 10px;
    /* column-gap: 10px; */
    /* row-gap: 10px; */

}

.item {
    background-color: #ff0000;
    padding: 1rem;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.item:first-child {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1 / 3; */
    /* grid-row: 1 / span 3; */


    /* grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-column: 2 / 4; */
    /* grid-column: 2 / span 4; */

    /* Tek satırda tanımlama */
    /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 2 / span 3 / span 4;

}