*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    background-color: slategrey;
    padding: 10px;
}

.item{
    outline: none;
    font-size:1.5rem;
    margin:2rem;
    padding: 2rem;
    color: white;
    background-color: black;
    flex: 1;
}

.i3{
    height: 300px;
    flex: 2;
}
.i5{
    align-self: flex-end;
    order: -1; 
}
.i1{
    align-self: flex-start;
}
