*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* flex-direction: row; // VARSYILAN */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    background-color: slategrey;
    padding: 10px;
}

.item{
    outline: none;
    font-size:1.5rem;
    margin:2rem;
    padding: 2rem;
    color: white;
    background-color: black;
}