*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9acd32;
    background: linear-gradient(to right, #2cadad, #9acd32 );
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    border: none;
    border-radius: 5px;
    background-color:#000000;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
    color: #fff;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.context{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.context > p{
    margin-right: 40px;
    font-weight: bold; 
    padding: 5px;
}
.context > span{
    border: 1px solid #000000;
    background: linear-gradient(to right, #2cadad, #9acd32 );
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
}

.img > img{
    width: 500px;
    height: 200px;
    border-radius: 5px;
}
