* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: stretch; Varsayılan */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: space-evenly;

    background-color: slategrey;
    padding: 10px;
    height: 1000px;
}

.item {
    outline: none;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 2rem;
    color: white;
    background-color: black;
}

.i15 {
    flex: 1;
}