* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: "header header header"
        "nav main aside"
        "footer footer footer";
}

header,
nav,
main,
aside,
footer {
    background-color: #9acd32;
    padding: 1.25rem;
    color: #ffffff;
    border: 2px solid #000000;
    text-align: center;
    font-weight: bold;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}