*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* Yatay Sıralama => justify-conten*/
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items => Dikey Sıralama */
    /* align-items: stretch; VARSAYILAN */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */

    background-color: slategrey;
    padding: 10px;
}

.item{
    outline: none;
    font-size:1.5rem;
    margin:2rem;
    padding: 2rem;
    color: white;
    background-color: black;
}

.i3{
    height: 300px;
}
.i4{
    font-size: 45px;
}